#aboutMe{
    position: relative;
    top: 10%;
  }
  
  .helloThere{
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #9D9391;
  text-align: left;
  margin-top: 20px;
  }
  
  #aboutMe h1 {
    font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  font-size: 19px;
  text-align: left;
  letter-spacing: 0.03em;
  color: #9D9391;
  margin-top: 20px;
  }
  
  .description{
    font-family: Roboto condensed;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  font-size: 11px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #9D9391;
  margin-top: 20px;

  }

 