@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script');
@import url("https://use.typekit.net/dns6ten.css");
.App {
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  width: 277px;
  height: 473px;
  left: 22px;
  top: 54px;

}
#outline-section{
  border: 2px solid #635F5F;
  height: 100%;
}


.outer-rectangle{
  background: rgba(244, 240, 237, 0.91);
}

.inner-rectangle{
  background: #FFFFFF;
}

section{
  margin-bottom: 100px;
}