@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script');
@import url("https://use.typekit.net/dns6ten.css");
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab');

.container{
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: column;
box-sizing: border-box;
}


