@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script');
@import url("https://use.typekit.net/dns6ten.css");
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab');
.App {
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  width: 277px;
  height: 473px;

  top: 54px;
  margin-top: 15px;

}
.outline-section{
  border: 2px solid #635F5F;
  height: 90%;
  padding: 20px;
  margin-top: 10px;
  position: relative;
}






.outer-rectangle{
  background: rgba(244, 240, 237, 0.91);
  width:90%;
  height: 70%;
  margin:  0 auto;
  padding: 10px;
  position: relative;
  top: 10%;

}

.inner-rectangle{
  background: #FFFFFF;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  padding: 10px;

  position: relative;
  top: 7%;
}


h3{
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  line-height: 48px;
  font-size: 47px;
  letter-spacing: 0.03em;
  
color: #9D9391;


padding: 1px;



position: absolute;
top: 5px;
left: 25px;


}


section{
  margin-bottom: 0px;
}

#about{
  height: 90px;
}



