

.dropbtn {
    font-size: 16px;
    border: none;
    background: none;
    position: fixed;
}

.dropdown {
    position: absolute;
    width: 37px;
    height: 47px;
    right: 30px;
    top: 0px;
    background-color: none;
}

.dropdown-content {
    display: none;
    position: fixed;
    min-width: 160px;
    z-index: 1;
    margin-top: 60px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: red;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:none;background:pink;}



