


header {
    position: relative;
    width: 245px;
    height: 232px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 50%;
    background: rgba(233, 217, 212, 0.78);

    }
    
    header h1{
    margin: 0 auto;
    padding-top: 40px;
    padding-right: 20px;
    font-family: Petit Formal Script;
    font-style: normal;
    font-weight: normal;
    line-height: 52px;
    font-size: 48px;
    text-align: center;
    letter-spacing: -0.07em;
    color: #FFFFFF;
    
    text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.42);
    transform: rotate(-8deg);
    }
    
    header h2 {
        padding-top: 20px;

        font-family: Prestige Elite Std;
        font-style: normal;
        font-weight: bold;
        line-height: 23px;
        font-size: 23px;
        text-align: center;
        letter-spacing: -0.05em;
        
        color: #494646;
        
    }